
body{
  margin: 0 auto;
  font-family: "Rosario";
  
}
a{
  text-decoration: none;
}
header{
  display: flex;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;
  max-width: 1920px;
}
header > div{
  background-color: black;
  margin: 0;
  width: 100%;
}
ul{
  display: flex;
  height: 100%;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  
}
ul > li > a{
  list-style: none;
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFCFC;  
  padding: 20px;
}
/* ////////////////////////////// */
section{
  box-sizing: border-box;
  min-height: 90vh;
  width: 100hw;
  max-width: 1920px;
  border: #000 solid 1px;
  
}
/* //////////////////////////// */
.gallery{
  /* margin: 0 auto; */
  padding: 71px 43px 64px 43px;
  display: flex;
  /* width: 100hw; */
  padding-top: 5%;
  max-width: 1920px;
}
.gallery > div > div > img{
  width: 100%;height: 100%;

}
  .gallery_centr_left > div > img{
  width: 100%;
  height: 100%;
}
.gallery_centr_right > div >img{
  width: 100%;
  height: 100%;
}
.gallery > div{
  display: flex;
  justify-content: center;
  
}
.gallery_centr_left > div{
  padding: 21px 18px;
  position: relative;
  animation: animation-left-center 2s linear;  
}
@keyframes animation-left-center{
  0%{
    left: -600px;
    opacity: 0;    
  }
  50%{
    left: -200px; 
    opacity: 0.5;      
  }
  100%{
    left: 0px;
  }
}
.gallery_centr_right > div{
  padding: 21px 18px;
  position: relative;
  animation: animation-right-center 2s linear; 
}
@keyframes animation-right-center{
  0%{
    right: -600px;
    opacity: 0;    
  }
  50%{
    right: -200px; 
    opacity: 0.5;      
  }
  100%{
    right: 0px;
  }
}
.gallery_left, .gallery_right{
  padding: 189px 21px;
  position: relative;
}
.gallery_right{
  animation: animation-right 4s linear;
}
@keyframes animation-right{
  0%{
    right: -600px;
    opacity: 0;    
  }
  50%{
    right: -200px; 
    opacity: 0.5;      
  }
  100%{
    right: 0px;
  }
}
.gallery_left{ 
  animation: animation-left 4s linear;
}
@keyframes animation-left{
  0%{
    left: -600px;
    opacity: 0;    
  }
  50%{
    left: -200px;
    opacity: 0.5;       
  }
  100%{
    left: 0px;
  }
}
/* ///////////////// */
.services{
  display: flex;
  padding-top: 3%;
}
.services > div{
  width: 50%;
  text-align: center;
  border: 1px #000;
}
.services > div:last-of-type{
  background: url("./img/pexels-cottonbro.png");
  background-repeat: no-repeat;
  width: 50%;
}
.services > div:first-of-type{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  padding: 2% 0%;
  overflow: hidden;
}
.services_one > img{
  width: 100%;
}
.services_two > img{
  width: 100%;
}
.services_three > img{
  width: 100%;
}
.services_one{
  position: relative;
  animation-name: one;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes one{
  0% {
    left:0%;
    top: 0%;
  }
  25% {
    left: 50%;
    top: 0%;
  }
  50%{
    left: 50%;
    top: 50%;
  }
  75%{
    left: 0%;
    top: 50%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}

.services_two{
  position: relative;
  animation-name: two;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes two{
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    left: 0%;
    top: 50%;
  }
  50%{
    left: -50%;
    top: 50%;
  }
  75%{
    left: -50%;
    top: 0%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}
.services_three{
  position: relative;
  animation-name: three;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes three{
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    left: 0%;
    top: -50%;
  }
  50%{
    left: 50%;
    top: -50%;
  }
  75%{
    left: 50%;
    top: 0%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}
.services_four{
  position: relative;
  animation-name: four;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes four{
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    left: -50%;
    top: 0%;
  }
  50%{
    left: -50%;
    top: -50%;
  }
  75%{
    left: 0%;
    top: -50%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}


/* ///////////////////////////// */
.team{
  text-align: center;
  padding-bottom: 33px;
  padding-top: 1%;
}
.team:hover div{
  opacity: 0.7;
 
}
.team > div > div:hover{
  opacity: 1.0;
 
}
.team > h2{
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  align-items: center;
  text-align: center;
  color: #000000;
}
.team_name{
  width: 100%;
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  align-items: center;
  text-align: center;
  color: #FFFAFA;
  background: rgba(163, 83, 10, 0.7);
  transform: rotate(0.12deg);
  border-radius: 0px 0px 40px 40px ;
  position: absolute;
  bottom: 0;
  height: 0;
  overflow: hidden;
  /* transition: all 1s; */ 
}
 .team_cards> div{
  width: 20%;
  border-radius: 40px;
  position: relative; 
}
/* .team_cards::after > div{
  filter: blur(2px);
} */
.team_cards > div:hover .team_name{
  height: 70px;
  /* opacity: 1; */
  /* filter: none; */
}
.team_one{
  background: url("./img/team\ 1.png") ;
  background-repeat: no-repeat;  
  height: 677px;
  position: relative;  
}
.team_two{
  background: url("./img/team\ 2.png");
  background-repeat: no-repeat;
  position: relative;
}
.team_three{
  background: url("./img/team\ 3.png");
  background-repeat: no-repeat;
  position: relative;
}
.team_four{
  background: url("./img/team\ 4.png");
  background-repeat: no-repeat;
  position: relative;
}
.team_cards{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


/* ///////////////////// */
::placeholder{
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
.contact{
  width: 100%;
}
.contact > div{
  width: auto;
  padding: 3%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 0;
}
.contact > div > div:first-of-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.map{
  margin: 0%;
  width: 40%;
  height: 570px;
  /* background-color: #000; */
}
.contact_tecst{  
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #000000;
}
.contact_input{
  background-color: #E5E5E5;
  padding: 2%;
  width: 100%;
}
.contact_input > input{
  width: 45%;
  height: 80px;
  margin: 10px;
}
.contact_input > input:last-of-type{
  width: 95%;
  height: 209px;
}
/* //////////////////////////// */

.contact_footer{
  width: auto;
  display: flex;
  justify-content: space-evenly;
  /* padding: 5%; */
  max-width: 1920px;
}
.contact_footer > div{
  /* width: 33%; */
  text-align: center;
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  overflow: hidden;

}
.contact_footer > div:last-of-type{
  display: flex;
  flex-direction: column;
}
span{
  font-style: italic;
 
}
.contact_footer > div >a{
  color: #000000;
}